/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    
    background-color: whitesmoke;
    color: black;
    
}

.dark body {
    background-color: #101820;
    color: white;
}

main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}




